<div class="container-fluid" id="headings">
    <div class="row">
        <div class="col-sm showcase">
            <h1>Content</h1>
            <p>All HTML headings, &lt;h1\&gt; through  &lt;h6\&gt; , are available</p>
            <p>Lists unordered  &lt;ul\&gt; ordered  &lt;ol\&gt;</p>
        </div>
        <div class="col-sm light showcase">
            {{> content-tags}}
        </div>
        <div class="col-sm dark showcase">
            {{> content-tags}}
        </div>
    </div>
</div>