.showcase {
    padding: 30px 0 20px 15px;
    padding-left: 15px;
    border-bottom: 1px solid #ccc;
}

.light {
    background-color: #eee;
}

.dark {
    background-color: #161719;
    color: #fff;
}


#summary-main {
    background: -webkit-linear-gradient(141deg, rgba(189, 141, 75, 1), rgba(53, 92, 125, 1));
    padding: 100px 0;
}


.title-strong {
    font-weight: 900;
    text-transform: uppercase;
}